<label htmlFor="filter-input" className="searchInput__label">
  Filter by keywords
</label>
<div class="searchInput__inputWrapper">
  <img
    src="../../../../../assets/filter-icon.png"
    class="searchInput__icon"
    alt="filter-icon"
  />
  <div class="searchInput__input">
      <input
        class="inputForSearch"
        matInput
        autofocus 
        type="text"
        [(ngModel)]="searchInpValue"
        (input)="emitData()"
      />
      <button
        *ngIf="searchInpValue"
        class="searchBtn"
        mat-icon-button
        aria-label="Clear"
        (click)="resetValue()"
      >
        <mat-icon>close</mat-icon>
      </button>
  </div>
</div>
