<mat-card class="card">
  <img
    mat-card-image
    class="card__image"
    src="{{ data.image_url }}"
    alt="news-card-image"
  />
  <mat-card-content class="card__content">
    <div class="card__dateWrapper">
      <mat-icon class="date-icon">date_range</mat-icon>
      <p class="card__date">{{ data.published_at | date:'MMMM d, yyyy'  }}</p>
    </div>
    <mat-card-title class="card__title">{{ data.title }} </mat-card-title>
    <p class="card__text">{{ data.summary }}</p>
    <mat-card-actions>
      <button mat-button class="readMoreBtn">Read more</button>
      <mat-icon>arrow_right_alt</mat-icon>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
