<mat-card class="card">
  <img
    mat-card-image
    class="card__image"
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="news-card-image"
  />
  <mat-card-content class="card__content">
    <div class="card__dateWrapper">
      <mat-icon class="date-icon">date_range</mat-icon>
      <p class="card__date">June 29th, 2021</p>
    </div>
    <mat-card-title class="card__title"
      >The 2020 World's Most Valuable Brands
    </mat-card-title>
    <p class="card__text">
      Non sed molestie tortor massa vitae in mattis. Eget vel consequat
      hendrerit commodo libero aliquam. Urna arcu nunc tortor vitae pharetra...
    </p>
    <mat-card-actions>
      <button mat-button class="readMoreBtn">Read more</button>
      <mat-icon>arrow_right_alt</mat-icon>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
